### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Misc
*.private

# VS-Code
vscode/*cache*
vscode/*backup*
vscode/*cookies*
vscode/User/workspaceStorage/
vscode/Local Storage/
vscode/storage.json
vscode/Preferences
vscode/clp/
vscode/machineid
vscode/languagepacks.json

.vscode

# zsh
zsh/oh-my-zsh/custom/plugins
zsh/oh-my-zsh/custom/themes

# gnupg
gnupg/*
