"*":
  "activate-power-mode":
    autoToggle: false
    particles:
      size: {}
      spawnCount: {}
      totalCount: {}
    screenShake: {}
  "atom-alignment": {}
  "atom-beautify":
    _analyticsUserId: "83f70fc5-ac96-41eb-ab18-647ba26ecb9d"
    general:
      _analyticsUserId: "4638010e-ab63-4840-b857-c080ee15eb9f"
    js:
      space_after_anon_function: true
  "atom-color-highlight": {}
  "auto-update-packages": {}
  "autocomplete-modules": {}
  "autocomplete-plus": {}
  core:
    customFileTypes:
      "source.ini": [
        ".buckconfig"
        ".flowconfig"
      ]
      "source.json": [
        ".arcconfig"
      ]
      "source.python": [
        "BUCK"
      ]
    disabledPackages: [
      "activate-power-mode"
    ]
    projectHome: "~/git/"
    themes: [
      "atom-dark-ui"
      "monokai"
    ]
  editor:
    backUpBeforeSaving: true
    fontSize: 16
    invisibles: {}
    lineHeight: 1.4
    preferredLineLength: 100
    scrollPastEnd: true
    showIndentGuide: true
    tabLength: 4
    tabType: "soft"
  emmet: {}
  "exception-reporting":
    userId: "a098c42d-c584-2cb0-89f7-de6d86ca63fd"
  "file-icons":
    onChanges: true
  "file-watcher":
    promptWhenFileHasChangedOnDisk: false
  "filetype-color":
    enabled: "true"
  "git-diff":
    showIconsInEditorGutter: true
  "git-log":
    fontFamily: "'Operator Mono', 'Input Mono', 'Menlo', monospace"
    fontScale: 0.8
  "git-projects":
    rootPath: "~/git"
    sortBy: "Latest modification date"
  "highlight-selected": {}
  jumpy: {}
  latex: {}
  "latex-plus":
    texBin: "/usr/texbin"
  linter:
    showErrorInline: false
  "linter-chktex":
    executablePath: "/Library/TeX/texbin/chktex"
  "linter-coffeelint": {}
  "linter-eslint":
    disableWhenNoEslintrcFileInPath: true
  "linter-jshint":
    disableWhenNoJshintrcFileInPath: true
    lintInlineJavaScript: true
  "linter-jsxhint": {}
  "linter-scss-lint":
    disableWhenNoConfigFileInPath: true
  "linter-shellcheck": {}
  "markdown-pdf": {}
  "markdown-preview":
    breakOnSingleNewline: true
    useGitHubStyle: true
  nuclide:
    "nuclide-arcanist": {}
    "nuclide-buck-files": {}
    "nuclide-clang-atom": {}
    "nuclide-datatip": {}
    "nuclide-debugger-hhvm": {}
    "nuclide-file-tree": {}
    "nuclide-flow": {}
    "nuclide-format-js": {}
    "nuclide-hack": {}
    "nuclide-health": {}
    "nuclide-home":
      showHome: false
    "nuclide-ios-simulator-logs": {}
    "nuclide-ocaml": {}
    "nuclide-output": {}
    "nuclide-working-sets":
      workingSets: [
        {
          name: "install"
          active: false
          uris: [
            "/Users/fabian/dotfiles/install.sh"
            "/Users/fabian/dotfiles/osx.sh"
          ]
        }
      ]
  "package-generator":
    createInDevMode: true
  "package-js-generator": {}
  pigments: {}
  react: {}
  "remember-session":
    height: 873
    path: ""
    selectedTab: ""
    tabs: ""
    treeWidth: 300
    width: 1440
    x: 0
    y: 23
  "spell-check":
    grammars: [
      "text.git-commit"
    ]
  term2:
    colors: {}
  "terminal-panel": {}
  "toggle-quotes": {}
  "tree-view":
    hideIgnoredNames: true
    showOnRightSide: true
  "tree-view-filter":
    liveUpdate: true
  welcome:
    showOnStartup: false
  whitespace:
    ensureSingleTrailingNewline: false
".ansi.text":
  editor:
    preferredLineLength: 100
".attribute-values.js.jsx.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".gradle.groovy.source":
  editor:
    preferredLineLength: 100
".hack.html.text":
  editor:
    preferredLineLength: 100
".hackfragment.source":
  editor:
    preferredLineLength: 100
".ini.source":
  editor:
    preferredLineLength: 120
    tabLength: 4
".js.jsx.react.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".js.jsx.source":
  editor:
    preferredLineLength: 100
    tabLength: 4
".js.source.subtlegradient":
  editor:
    preferredLineLength: 100
    tabLength: 4
".plain.text":
  editor:
    preferredLineLength: 100
